.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.button {
  cursor: pointer;
}
/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-list,
.header-address {
  display: none;
}
.header-nav-list a:hover,
.header-nav-list a:focus {
  color: #404bbf;
}
.header-address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header-address-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .header-logo-font {
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo .header-logo-font:hover,
.header-logo .header-logo-font:focus,
.header-logo .header-logo-font:active {
  color: #404bbf;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header-nav {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2e2f42;
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    display: block;
    margin-right: 120px;
  }

  .header-nav-list {
    color: #2e2f42;
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link {
    color: #2e2f42;
    display: block;
    padding: 24px 0;
  }
  .active {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* added transition */
  }
  .active::after {
    content: "";
    width: 100%;
    display: block;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
  }
  .header-address {
    font-weight: 400;
    font-style: normal;
    color: #434455;
    display: block;
    transition-property: color;
    gap: 40px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .header-address-list {
    gap: 40px;
    align-items: center;
    flex-direction: row;
  }
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* mobile menu */

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #2e2f42;
  padding: 0;
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.open-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav-list a:hover,
.mobile-nav-list a:focus {
  color: #404bbf;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.active {
  color: #404bbf;
}
.mobile-menu-address {
  margin-bottom: 48px;
}
.mobile-address-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  gap: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-address-link:hover,
.mobile-address-link:focus {
  color: #404bbf;
}
.mobile-soc-media {
  display: flex;
  gap: 40px;
}
.mobile-icon-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon {
  fill: #f4f4fd;
  position: absolute;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: #404bbf;
}
/* hero section */

.hero-section {
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-mob.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mob-2@2x.jpg);
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 216px;
  margin: 0 auto 72px auto;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 100%;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-tab.jpg);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tab-2@2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px auto;
  }
}
@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }
  .hero-title {
    margin: 0 auto 48px auto;
  }
}

/* our features */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.our-features {
  padding: 96px 0;
}
.features-box {
  display: none;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.features-item {
  width: 100%;
}
.features {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .features-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 100%;
  }
  .features {
    text-align: start;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-features {
    padding: 120px 0;
  }
  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - (3 * 24px)) / 4);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  .features-box {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-text {
    font-weight: 400;
  }
}

/* our team */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-container {
  width: 296px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}
.team-cards {
  max-width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}

.photo {
  width: 100%;
  max-width: 264px;
  height: auto;
}
.team-info {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.team-icon-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-list:hover,
.team-icon-list:focus {
  background-color: #404bbf;
}
.team-soc-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-icon {
  fill: #f4f4fd;
  position: absolute;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 100%;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
  .team-cards {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
  .team-list {
    flex-direction: row;
    gap: 24px;
    justify-content: center;
  }
  .team-cards {
    width: calc((100% - (3 * 24px)) / 4);
  }
  .team-info {
    padding: 32px 0px;
    gap: 32px;
  }
}

/* our portfolio */

.our-portfolio {
  padding: 96px 0;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); /*added transition (first child?) */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .portfolio-cover {
  transform: translateY(0);
}
.portfolio-cover {
  display: none;
}
.info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.portfolio-features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .our-portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - (2 * 24px)) / 3);
  }
  .cover-wrapper {
    position: relative;
    overflow: hidden;
  }
  .portfolio-cover {
    display: flex;
    position: absolute;
    background: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item:hover .portfolio-cover {
    transform: translateY(0);
  }
}

/* footer */
@media (max-width: 767px) {
  .footer {
    background: #2e2f42;
    padding: 96px 0;
    display: flex;
  }
}
.footer-container,
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-container {
  margin-bottom: 72px;
}
.footer-conclusion {
  text-align: center;
  margin-bottom: 72px;
}
.footer-social-container,
.footer-conclusion,
.footer-contact {
  align-items: center;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
  text-align: start;
}
.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-media {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 16px;
}
.footer-icon-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-list:hover,
.footer-icon-list:focus {
  background-color: #31d0aa;
}
.footer-soc-link {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
  position: absolute;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  opacity: 0.6;
}
.footer-input::placeholder {
  color: #fff;
  opacity: 0.6;
}
.footer-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background: #4d5ae5;
  outline: transparent;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  cursor: pointer;
}
.footer-btn:hover,
.footer-btn:focus {
  background: #404bbf;
}
.footer-vector {
  fill: #fff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer {
    background: #2e2f42;
    padding: 96px 0;
    display: flex;
  }
  .footer-container,
  .footer-form {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 584px;
    width: 100%;
    gap: 72px 24px;
  }
  .footer-container {
    align-items: flex-start;
  }
  .footer-social-container,
  .footer-conclusion {
    margin-bottom: 0;
  }
  .subscribe-title,
  .footer-conclusion,
  .footer-media-text {
    text-align: start;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-social-container,
  .footer-conclusion,
  .footer-contact {
    align-items: flex-start;
  }
  .footer-input {
    width: 264px;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    background: #2e2f42;
    display: flex;
    padding: 100px 0;
    margin-bottom: 0;
  }
  .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
  .footer-conclusion {
    margin-right: 120px;
    margin-bottom: 0;
    text-align: start;
  }
  .footer-social-container {
    margin-bottom: 0;
  }

  .footer-text {
    width: 264px;
  }
  .footer-media-text,
  .subscribe-title {
    text-align: start;
  }
  .footer-icon-list {
    position: relative;
    gap: 16px;
  }
  .footer-social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 80px;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
}

/* backdrop */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-open {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  padding: 0;
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-open:hover,
.modal-open:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.open-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  text-align: center;
  max-width: 256px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrapper {
  position: relative;
}
.modal-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  max-width: 256px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  max-width: 256px;
  padding: 8px 16px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  opacity: 0.5;
}
.modal-comment-field {
  margin-bottom: 16px;
}
.modal-btn {
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  min-width: 169px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}
.modal-check-text span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  display: inline-flex;
  transition: background-color 250ms
      cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .modal-check-text span {
  border-radius: 2px;
  border: 1px solid #404bbf;
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.privacy-policy {
  text-decoration: underline;
  color: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
  .modal-title {
    max-width: 360px;
  }
  .modal-input {
    max-width: 360px;
  }
  .modal-textarea {
    max-width: 360px;
  }
}
